
img {
    max-width: 100%;
}

.text-brown {
    color: #7a3b1d;
}
  
.text-brown:hover {
    text-decoration: underline;
}

.top-banner {
    background-image: url('/images/top-banner.jpg');
    background-size: cover;
    background-position: center right;
    border-radius: 8px;
    min-height: 320px;
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(59, 35, 22, 0.6);
    z-index: 1;
  }
  
  .z-2 {
    position: relative;
    z-index: 2;
  }
  

  .hover-shadow:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
  }
  
.myh2{
  font-family: 'Hiragino Mincho ProN', serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.5rem 0;
  color: #5c2e10; /* 深ブラウン */
  background: #f4f1ee;
  margin-bottom: 1rem;
}

.myh3 {
  color: #5c2e10; /* 深ブラウン */
  font-family: 'Hiragino Mincho ProN', serif;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

.navbar-custom {
  background: linear-gradient(to bottom, #6a3d1e, #47280f); /* 上が明るい茶 */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-custom .nav-link {
  color: #fff;
  font-family: "Hiragino Mincho ProN", serif;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  white-space: nowrap;
}

.navbar-custom .nav-link:first-child {
  border-left: none;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.navbar-custom .nav-item {
  display: flex;
  align-items: center;
}

.navbar-custom .nav-link .bi {
  margin-right: 0.25rem;
}.navbar-custom .nav-item {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* 最後の項目にはボーダーを付けない */
.navbar-custom .nav-item:last-child {
  border-right: none;
}

@media (max-width: 576px) {
  .sub-links {
    text-align: center !important;
    margin-top: 1rem;
  }
  .sub-links a {
    display: block;
    margin-bottom: 0.25rem;
  }
}