{{ define "main" }}


{{ if eq .Section "post" }}
  <!-- posts セクションだけに適用 -->
  <h2>インフォメーション</h2>
  <div class="container my-5">
    <div class="card border rounded shadow-sm p-4" style="font-family: 'Hiragino Mincho ProN', serif;">
      <h2 class="fw-bold border-bottom pb-2 mb-4" style="color: #333;">{{ .Title }}</h2>
      <p class="text-end fw-bold mb-4" style="color: #333;">{{ .Date.Format "2006.01.02" }}</p>
      <div class="fs-5 lh-lg mainContents">{{ .Content }}</div>
    </div>
  </div>

{{ else }}
  <!-- その他のページ -->
  <div class="container py-5">
    <div class="content fs-5 mainContents">{{ .Content }}</div>
  </div>
{{ end }}

{{ end }}
